.pdf-viewer {
    padding: 10px;
    border: 10px solid rgb(154, 9, 9);
  }
  
  .pdf-viewer.full-screen {
    position: flex;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 0;
    border: 1px;
  }
  